<div class="jumbotron">
	<div class="row">
		<div class="col-md-6">
				<h1>About us.</h1>
		</div>
		<div class="col-md-6">
			<h1><small>  We get it.</small></h1>
			<p>Just because you live in a tree doesn't mean you get to keep all of the money that grows on it.</p>
		</div>
	</div>

	<div class="row">
		<h1 style="text-align:center">Meet the gang.</h1>
	</div>
	<br>

	<div class="row text-center">
		<div class="col-md-3">
			<img src="<%= image_path 'panda1.jpg' %>" alt="first panda" class="img-circle img-responsive">
			<h2>Damian Kunde DDS</h2>
			<p>DDS meaning doctorate in deal seeking.  It was Damian's vision that brought embarrassmentpon to life.</p>
		</div>	

		<div class="col-md-3">
			<img src="<%= image_path 'panda2.jpg' %>" alt="second panda" class="img-circle img-responsive">
			<h2>Ubaldo Weber</h2>
			<p><%= Faker::Lorem.paragraph %></p>
		</div>

		<div class="col-md-3">
			<img src="<%= image_path 'panda3.jpg' %>" alt="third panda" class="img-circle img-responsive">
			<h2>Travon Cassin</h2>
			<p><%= Faker::Lorem.paragraph %></p>
		</div>

		<div class="col-md-3">
			<img src="<%= image_path 'monkey.png' %>" alt="monkey and dog" class="img-circle img-responsive">
			<h2>Ms. Elaina Okuneva<br><small>(pictured left)</small></h2>
			<p><%= Faker::Lorem.paragraph %></p>
		</div>	
	</div>
</div>
